h1 {
  color: hsl(345, 100%, 32%);
  font-size: 2rem;
}

h2 {
  color: hsl(168, 5%, 60%);
  font-size: 1rem;
}

table {
  width: 90%;
  border-spacing: 0;
}

td, th {
  text-align: right;
}

.left-align {
  text-align: left;
}

.background-color { 
  background-color: hsl(48, 19%, 90%);
}

th {
  border-bottom: 2px solid hsl(345, 100%, 32%);
}


.bold {
  font-weight: bold;
}

.top-border {
  border-top: 2px solid black;
}

.width {
  width: 250px;
}